

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="../../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../css/icf-overrides.css">
    <link rel="stylesheet" href="../../css/icf-index.css">
    <title>Button: Secondary Orange | Preview</title>
</head>

<body>

		

		
		
		

	<div class="styleguide-center-component bg-color-gray ">
		<div>

	

<button  class="button button-secondary button-secondary--orange    "  role="button" >
	<span class="button__label"> Secondary </span>

</button>
</div>
	</div>

    <script src="../../js/main.bundled.js"></script>
</body>

</html>
