

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="../../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../css/icf-overrides.css">
    <link rel="stylesheet" href="../../css/icf-index.css">
    <title>Button List: Default | Preview</title>
</head>

<body>

		


	<div class="styleguide-center-component ">
		<div><div class="button-list">

		<!-- content getting overridden -->
		
		
			
		
		<a href="#" class="button button-primary button-primary--magenta    "  role="button" >
			<span class="button__label"> First Button </span>
		
		</a>
		
		
			
		
		<a href="#" class="button button-tertiary button-tertiary--green    "  role="button" >
			<span class="button__label"> Second Button </span>
		
		</a>

</div></div>
	</div>

    <script src="../../js/main.bundled.js"></script>
</body>

</html>
