

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="../../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../css/icf-overrides.css">
    <link rel="stylesheet" href="../../css/icf-index.css">
    <title>Promos: Min Height 500 Pixels | Preview</title>
</head>

<body>



	<div class="">
		<div>
















	


<div class="promo promo__root container-fluid">

	<div class="promo__background  ">

			<div class="promo__image-container promo__image-overlay promo__image-overlay--black">
				<img class="promo__img" src="/icf-fractal-example/images/ICFNext_Pattern_Arrows_RGB_25_Small.png" alt="">
			</div>

	</div>

	<div class="promo__content-container promo__content-container--width-100 promo__content-container--vertical-align-center promo__content-container--horizontal-align-center promo__content-container--text-align-left promo__content-container--min-height-500 font-color-white">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

						<!-- content getting overridden -->
						<h1>Example Promo Header</h1>
						<p>Example Promo Text</p>

<div class="button-list">


								
								
									
								
								<a href="#" class="button button-secondary button-secondary--teal    "  role="button" >
											<span class="button__icon">
													<i class="fas fa-arrow-circle-right" title="Example Promo" aria-hidden></i>
												</span>
									<span class="button__label"> Example Promo </span>
								
								</a>
								
								
									
								
								<a href="#" class="button button-secondary button-secondary--orange    "  role="button" >
											<span class="button__icon">
													<i class="fas fa-arrow-circle-right" title="Example Promo" aria-hidden></i>
												</span>
									<span class="button__label"> Example Promo </span>
								
								</a>


</div>
						<div class="aem-parsys-example">
						    <strong>Promo Content Parsys Example</strong>
						</div>

				</div>

			</div>
		</div>
	</div>
</div></div>
	</div>

    <script src="../../js/main.bundled.js"></script>
</body>

</html>
