

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="../../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../css/icf-overrides.css">
    <link rel="stylesheet" href="../../css/icf-index.css">
    <title>Rails: Right With Background And Sticky | Preview</title>
</head>

<body>



	<div class="">
		<div>

	
		

<div class="rail rail--bg-color-right container-outer container-outer--rail">
	<div class="container">
		<div class="row rail__row">

			<div class="col-lg-4 rail__side-col rail__side-col--right rail__side-col--bg-color">
				<div class="rail__side-content rail__side-content--sticky">
						<!-- content getting overridden -->
						<div class="aem-parsys-example">
						    <strong>Rail Content Parsys Example</strong>
						</div>
				</div>
			</div>

			<div class="col-lg-8 rail__main-col">
				<div class="rail__main-content">
						<!-- content getting overridden -->
						<div class="aem-parsys-example">
						    <strong>Main Content Parsys Example</strong>
						</div>
				</div>
			</div>

		</div>
	</div>
</div></div>
	</div>

    <script src="../../js/main.bundled.js"></script>
</body>

</html>
