$button--border-size: 2px;

// Reset browser button color
button {
    color: inherit;
}

.button, .btn {
    @include font-family('bold');
    @include font-size(base);
    @include transition(normal, all);
    text-transform: uppercase;
    outline: none;
    border-style: none;
    cursor: pointer;
    padding: $spacing--sm $spacing--lg;

    &__icon {
        margin-right: $spacing--xs;
    }

    &--small {
        @include font-family('black');
        @include font-size(xs);
        padding: $spacing--sm;
    }

    @mixin button-mixin-primary($color) {
        background-color: $color;
        border: $button--border-size solid $color;
        &:hover {
            color: $color;
        }
    }
    &-primary {
        color: $white;
        &:hover {
            background-color: $white;
        }
        @include button-mixin-primary($magenta); // Default color

        &--magenta {
            @include button-mixin-primary($magenta);
        }
        &--orange {
            @include button-mixin-primary($orange);
        }
        &--yellow {
            @include button-mixin-primary($yellow);
        }
        &--green {
            @include button-mixin-primary($green);
        }
        &--blue {
            @include button-mixin-primary($blue);
        }
        &--darkblue {
            @include button-mixin-primary($darkblue);
        }

        &--gradiant {
            background: linear-gradient(270deg, $magenta, $darkblue);
            background-size: 200% 200%;

            -webkit-animation: AnimationName 8s ease infinite;
            -moz-animation: AnimationName 8s ease infinite;
            animation: AnimationName 8s ease infinite;

            @-webkit-keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
            @-moz-keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
            @keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
        }
    }

    @mixin button-mixin-secondary($color) {
        background-color: $color;
        &:hover {
            color: $color;
        }
    }
    &-secondary {
        color: $white;
        border: $button--border-size solid $white;
        &:hover {
            background-color: $white;
        }
        @include button-mixin-secondary($green); // Default color

        &--magenta {
            @include button-mixin-secondary($magenta);
        }
        &--orange {
            @include button-mixin-secondary($orange);
        }
        &--green {
            @include button-mixin-secondary($green);
        }
        &--blue {
            @include button-mixin-secondary($blue);
        }
        &--darkblue {
            @include button-mixin-secondary($darkblue);
        }
    }

    @mixin button-mixin-tertiary($color) {
        color: $color;
        border: $button--border-size solid $color;
        &:hover {
            background-color: $color;
        }
    }
    &-tertiary, &-default {
        background-color: transparent;
        &:hover {
            color: $white;
        }
        @include button-mixin-tertiary($blue); // Default color

        &--magenta {
            @include button-mixin-tertiary($magenta);
        }
        &--orange {
            @include button-mixin-tertiary($orange);
        }
        &--yellow {
            @include button-mixin-tertiary($yellow);
        }
        &--green {
            @include button-mixin-tertiary($green);
        }
        &--blue {
            @include button-mixin-tertiary($blue);
        }
    }
}

a.button {
    display: inline-block;

    &:hover {
        text-decoration: none;
    }
}
