//.banner .nav li {
//  @extend .nav-item;
//}
//
//.banner .nav a {
//  @extend .nav-link;
//}

$gray-600: #768591;
$teal: #00AFAA;
$gray-200: #E7EDF0;
$gray-300: #dfe5e8;
$lightblue: #5BCBF5;
$lightblue-hover: #11a6d7;

.icf-header {

	.form-control, .btn {
		border-radius: 0;
	}

	&__column {
		background-color: $gray-600;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&:first-of-type {
			background-color: $white;
		}

		&__content {
			padding: get-spacing(inset, lg);

			display: flex;
			justify-content: flex-start;
		}

		&__img {
			&--link {
				display: flex;
			}
			&--img {
				max-height: 70px;
			}
		}

		&__links {
			display: flex;
			justify-content: flex-start;

			.nav-primary {
				.menu-item {
					a {
						color: $white;
						transition: all 0.25s ease-in-out;
						margin: get-spacing(inline, md);

						&:hover {
							//color: $gray-200;
							color: $teal;
							text-decoration: none;
						}
					}
				}
			}

			&__icons {
				margin-left: auto;

				&__icon {

					color: $gray-200;
					&:hover {
						color: $white;
					}


					&--link {
						margin: get-spacing(inline, sm);
						color: transparent;

						&:hover {
							color: transparent;
						}

						&:last-of-type {
							margin: 0;
						}
					}
				}
			}
		}

	}

	// TODO CLEAN THE BELOW CSS
	$alt-nav__height--desktop: 110px;

	.alt-nav {
		background-color: $gray-600;
		position: relative;
		overflow: visible;
		//height: 110px;
		height: 64px;

		&__content {
			height: 64px;
			margin-left: 170px;
			padding: $spacing--base $spacing--lg;

			display: flex;
			align-items: center;

			&__icon {
				margin-left: auto;
				color: white;
				font-size: 1.5rem;
				transition: all 350ms ease;

				&:hover, &focus {
					color: white;
					text-decoration: none;
				}
			}

			&__mobile {
				height: 64px;
				margin-left: 170px;
				padding: $spacing--base $spacing--lg;
				cursor: pointer;

				display: flex;
				align-items: center;
			}
		}

		&__title--text {
			display: inline;
			margin: 0;
			color: $white;

			@include media-breakpoint-down(sm) {
				display: flex;
				font-size: 1.2rem;
			}
		}

		&__link-title {
			&:hover {
				text-decoration: none;
			}
		}

		&__img {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $lightblue;
			padding: $spacing--base $spacing--lg;
			//width: 332px;
			//height: 110px;

			height: 64px;
			width: 170px;

			transition: 0.3s background-color ease-in-out;

			&:hover {
				background-color: $lightblue-hover;
			}

			&--img {
				max-height: 32px;
			}
		}
		&__img--white-bg {
			background-color: $white;

			&:hover {
				background-color: $white;
			}
		}

		@include media-breakpoint-down(md) {
			.navbar {
				position: relative;
				padding-left: $spacing--md;

				background-color: $gray-600;
				z-index: 1000;

				padding: 0;
				.navbar-collapse-container {
					padding: $spacing--md $spacing--lg;
					text-align: center;
					font-size: 1.25rem;
					color: $white;

					.navbar-nav {
						margin-bottom: $spacing--base;

						.nav-link {
							color: $white;

							&:hover {
								color: $gray-300;
							}
						}
					}

					.navbar__search-form {
						.input-group {
							width: 100%;
						}
					}
				}
			}

			&__content {
				display: none;
			}
		}

		// TABLET
		@include media-breakpoint-only(md) {
			height: 110px;

			&__content {

				&__icon {
					font-size: 2rem;
				}

				&__mobile {
					height: 110px;
					margin-left: 332px;

					padding: $spacing--base $spacing--lg;
				}
			}

			&__title {
				margin: 0;
			}

			&__img {
				width: 332px;
				height: 110px;

				&--img {
					max-height: 78px;
				}
			}

			.navbar {

			}
		}

		// DESKTOP
		@include media-breakpoint-up(lg) {
			height: 110px;
			overflow: hidden;

			&__content {
				display: block;
				height: unset;
				padding: 0;
				//margin: 0;
				margin-left: 332px;

				&__mobile {
					display: none;
				}
			}

			&__title {
				margin-bottom: 0;
				padding-left: $spacing--lg;
				padding-top: $spacing--base;
			}

			&__img {
				width: 332px;
				height: 110px;

				&--img {
					max-height: 78px;
				}
			}

			.navbar {
				margin-left: 332px;

				padding-left: $spacing--md;
				padding-right: $spacing--md;

				&__search-form {
					margin-right: $spacing--sm;
				}
			}

			.navbar-collapse-container {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
}

.alt-nav__content__mobile.collapsed {
	.alt-nav__content__icon {
		transform: rotate(180deg);
		transition: all 350ms ease;
	}
}

.icf-header {
	background-color: $black;
}

.icf-nav__mobile-controls.collapsed {
	.icf-nav__mobile-controls__icon {
		transform: rotate(180deg);
		transition: all 350ms ease;
	}
}

.icf-nav {
	height: 80px;
	padding: 0;
	background-color: black;
	color: $white;

	&__title {
		&--desktop {
			display: none;
		}

		&--text {
			display: inline-block;
			color: $magenta; // TODO Var

			@include media-breakpoint-down(sm) {
				margin: 0;
				font-size: 1.2rem;
			}
		}
	}

	&__right {
		display: none;
	}

	&__mobile-controls {
		width: 100%;
		height: 100%;
		padding: $spacing--base $spacing--lg;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&__icon {
			margin-left: auto;
			color: $white;
			font-size: 1.5rem;
			transition: all 350ms ease;

			&:hover, &focus {
				color: $white;
				text-decoration: none;
			}
		}
	}
	&__mobile-controls-left, &__mobile-controls-right {
		height: 100%;
		display: flex;
		align-items: center;
	}
	&__mobile-controls-left {
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__mobile-controls-right {
		align-items: center;
	}

	.navbar {
		padding: 0;

		.navbar-nav {
			.menu-item {
				.nav-link {
					text-transform: uppercase;
				}
			}
		}
	}

	&__search {
		&--desktop {
			display: none;
		}
	}

	@include media-breakpoint-down(md) {
		.navbar {
			position: relative;
			padding-left: $spacing--md;

			background-color: $black;
			z-index: 1000;

			padding: 0;
			.navbar-collapse-container {
				padding: $spacing--md $spacing--lg;
				text-align: center;
				font-size: 1.25rem;
				color: $white;

				.navbar-nav {
					margin-bottom: $spacing--base;

					.nav-link {
						color: $white;

						&:hover {
							color: #999; // TODO Var
						}
					}
				}

				.navbar__search-form {
					.input-group {
						width: 100%;
					}
				}
			}
		}

		&__logo {
			// Mobile logo
			svg {
				height: 15px;
				width: 81px;
				display: block;
			}

			//&--tablet {
			//  display: none;
			//}
		}
	}

	// TABLET
	@include media-breakpoint-only(md) {
		height: 110px;

		&__mobile-controls {
			height: 100%;

			&__icon {
				font-size: 2rem;
			}
		}
		&__mobile-controls-left {
			justify-content: space-between;
			align-items: flex-start;
		}

		&__logo {
			svg {
				height: 23px;
				width: 125px;
				display: block;
			}

			&--tablet {
				display: block;
			}
		}
	}

	@include media-breakpoint-up(md) {
		&__logo {
			&--mobile {
				display: none;
			}
		}
	}

	// DESKTOP
	@include media-breakpoint-up(lg) {
		height: 110px;
		padding: $spacing--base $spacing--lg;
		padding-bottom: 0;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		&__title {
			&--desktop {
				display: block;
				margin-left: $spacing--sm;
			}
		}

		.navbar {
			.navbar-nav {
				.menu-item {
					.nav-link {
						color: #999; // TODO Var
						border-bottom: 5px solid $black;
					}
				}

				.menu-item:hover, .menu-item:focus {
					.nav-link {
						color: #999; // TODO Var
						border-bottom: 5px solid #999; // TODO Var
					}
				}
				.nav-link:hover, .nav-link:focus {
					color: #999; // TODO Var
					border-bottom: 5px solid #999; // TODO Var
				}
				.menu-item.active {
					.nav-link {
						color: $white;
						border-bottom: 5px solid $white;
					}
				}
			}

			&__search-form--mobile {
				display: none;
			}
		}

		&__left, &__right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}

		&__right {
			padding-bottom: 13px;
		}

		&__mobile-controls {
			display: none;
		}


		&__logo-outer {
			margin-left: auto;
		}
		&__logo {
			display: inline-block;

			&--mobile {
				display: none;
			}

			svg {
				height: 23px;
				width: 125px;
				display: block;
			}
		}

		&__search {
			&--desktop {
				display: block;
			}
		}
	}

}

///** Search form */
//.search-form {
//	@extend .form-inline;
//}
//
//.search-form label {
//	@extend .form-group;
//
//	font-weight: normal;
//}
//
//.search-form .search-field {
//	@extend .form-control;
//}
//
//.search-form .search-submit {
//	@extend .btn;
//	@extend .btn-secondary;
//}
//
//// ICF Header Search Form
//.icf-nav {
//	.navbar__search-form {
//		input {
//			background-color: transparent;
//			border: 2px solid #666; // TODO Var
//			border-right: 0;
//			color: $white;
//
//			&::placeholder {
//				color: #666; // TODO Var
//			}
//		}
//
//		button {
//			background-color: transparent;
//			border: 2px solid #666; // TODO Var
//			padding-top: 4px;
//			padding-bottom: 4px;
//
//			&:active {
//				background-color: #666 !important;
//				border: 2px solid #666 !important; // TODO Var
//				padding-top: 4px;
//				padding-bottom: 4px;
//			}
//
//			&:focus {
//				//-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
//				//box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
//			}
//		}
//	}
//}
