$promo__content-container--header-offset: 100px;

.promo {
    &__root {
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        margin-right: auto;
        margin-left: auto;
    }

	&__background {
		position: absolute;
		@include z-index('promoBackgroundImage');
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 100%;
		height: 100%;

		&--gradiant {
			background: linear-gradient(270deg, #ed0677, #5bcbf5);
			background-size: 400% 400%;

			-webkit-animation: AnimationName 10s ease infinite;
			-moz-animation: AnimationName 10s ease infinite;
			animation: AnimationName 10s ease infinite;

			@-webkit-keyframes AnimationName {
				0%{background-position:0% 50%}
				50%{background-position:100% 50%}
				100%{background-position:0% 50%}
			}
			@-moz-keyframes AnimationName {
				0%{background-position:0% 50%}
				50%{background-position:100% 50%}
				100%{background-position:0% 50%}
			}
			@keyframes AnimationName {
				0%{background-position:0% 50%}
				50%{background-position:100% 50%}
				100%{background-position:0% 50%}
			}
		}
	}

	&__image-overlay {

		&--black:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include z-index('promoBackgroundOverlay');

			background-color: transparentize($black, 0.5);
		}
		&--green:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include z-index('promoBackgroundOverlay');

			background-color: transparentize($green, 0.15);
		}
		&--green {
			.promo__img {
				filter: gray; // IE
				-webkit-filter: grayscale(1);
				filter: grayscale(1);
			}
		}
		&--none {
			background-color: transparent;
		}
	}

	&__image-container {
		position: relative;
		height: 100%;
		overflow: hidden;
	}

	&__img {
		object-fit: cover;
		object-position: 50% 50%;
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		@include z-index('promoBackgroundImage');
		transform: translate(-50%,-50%);
		min-width: 100%;
		min-height: 100%;
	}

	&__content-container {
		position: relative;
		width: 100%;
		overflow-x: hidden;
		@include z-index('promoContentContainer');
		text-align: left;
		margin-right: auto;
		margin-left: auto;
		padding: 0;

		padding-top: $spacing--xl;
		padding-bottom: $spacing--xl;
		@include breakAt(desktop){
			padding-top: $spacing--xxl;
			padding-bottom: $spacing--xxl;
		}

		display: flex;
		flex-direction: column;
		justify-content: center;

		//color: $white; // Added font-color-* to promo options

		// WIDTH MODIFIERS
		@include breakAt(tablet){
			&--width-25 {
				width: 25%;
			}
			&--width-50 {
				width: 50%;
			}
			&--width-75 {
				width: 75%;
			}
			&--width-100 {
				// Default is 100%
			}
		}

		// VERTICAL ALIGNMENT MODIFIERS
		&--vertical-align-top {
			justify-content: flex-start;
			padding-top: $spacing--md;
			@include breakAt(desktop){
				padding-top: $spacing--lg;
			}
		}
		&--vertical-align-bottom {
			justify-content: flex-end;
			padding-bottom: $spacing--md;
			@include breakAt(desktop){
				padding-bottom: $spacing--lg;
			}
		}
		&--vertical-align-center {
			// Default is center aligned
		}

		// HORIZONTAL ALIGNMENT MODIFIERS
		&--horizontal-align-left {
			&:not(.promo__content-container--width-100) {
				margin-left: 0;
				@include breakAt(tablet){
					margin-left: $spacing--lg;
				}
				@include breakAt(desktop){
					margin-left: $spacing--xl;
				}
			}
		}
		&--horizontal-align-right {
			&:not(.promo__content-container--width-100) {
				margin-right: 0;
				@include breakAt(tablet){
					margin-right: $spacing--lg;
				}
				@include breakAt(desktop){
					margin-right: $spacing--xl;
				}
			}
		}
		&--horizontal-align-center {
			// Default is center aligned
		}

		// TEXT ALIGNMENT MODIFIERS
		&--text-align-center {
			text-align: center;
		}
		&--text-align-right {
			text-align: right;
		}
		&--text-align-left {
			// Default is left aligned
		}


		// MIN HEIGHT MODIFIERS
		&--min-height-200 {
			min-height: 200px;
		}
		&--min-height-300 {
			min-height: 300px;
		}
		&--min-height-400 {
			min-height: 400px;
		}
		&--min-height-500 {
			min-height: 500px;
		}
		&--min-height-auto {
			// Default is auto [content-driven] minimum height
		}

		// PROMO UNDER HEADER
		@include breakAt(desktop){
			&--under-header {
				margin-top: $promo__content-container--header-offset;
			}
		}
	}
}