.button-list {
	.button {
		margin-right: $spacing--base;
		margin-bottom: $spacing--base;
		text-align: center;
		&:last-child {
		    margin-right: 0;
		}
	}
	&--align {
	    &-center {
	        text-align: center;
	    }
	    &-left {
	        text-align: left;
	    }
	    &-right {
	        text-align: right;
	    }
	}
}