

<div class="icf-author-card ">

		<div class="icf-author-card__avatar">
			<img alt="" src="/icf-fractal-example/images/author-card-profile-1.jpg" class="avatar avatar-128 photo" height="128" width="128">
		</div>

	<div class="icf-author-card__info">

		<div class="icf-author-card__header">
			<div class="page-header">
				<h1 class="icf-author-card__author-name">Kyle Justice</h1>
			</div>

			<div class="icf-author-card__social-links">
					<a href="http://www.kylejustice.us" target="_blank" class="icf-author-card__social-link"> <i class="fas fa-link"></i> </a>
					<a href="https://www.github.com/kylejustice" target="_blank" class="icf-author-card__social-link"> <i class="fab fa-github"></i> </a>
					<a href="https://www.linkedin.com/in/kyle-justice-67894024" target="_blank" class="icf-author-card__social-link"> <i class="fab fa-linkedin"></i> </a>
			</div>
		</div>

		<p class="icf-author-card__description">
			Chicago based Front End Developer at ICF Next
		</p>
	</div>

</div>
