



















<div class="promo container-fluid">

	<div class="promo__background ">

			<div class="promo__image-container promo__image-overlay promo__image-overlay--black">
				<img class="promo__img" src="/images/ICFNext_Pattern_Next_RGB_12.png" alt="">
			</div>

	</div>

	<div class="promo__content-container promo__content-container--width-75 promo__content-container--vertical-align-center promo__content-container--horizontal-align-center promo__content-container--text-align-center promo__content-container--min-height-auto">

		<div class="container">
			<div class="row">

				<div class="col-md-6">

						<!-- content getting overridden -->
						<h1>Example Left Column Header</h1>
						<p>Example Promo Text</p>

<div class="button-list">


								
								
									
								
								<a href="#" class="button button-secondary button-secondary--teal    "  role="button" >
											<span class="button__icon">
													<i class="fas fa-arrow-circle-right" title="Example Promo" aria-hidden></i>
												</span>
									<span class="button__label"> Example Promo </span>
								
								</a>
								
								
									
								
								<a href="#" class="button button-secondary button-secondary--orange    "  role="button" >
											<span class="button__icon">
													<i class="fas fa-arrow-circle-right" title="Example Promo" aria-hidden></i>
												</span>
									<span class="button__label"> Example Promo </span>
								
								</a>


</div>
						<div class="aem-parsys-example">
						    <strong>Promo Content Parsys Example</strong>
						</div>

				</div>

				<div class="col-md-6">

						<!-- content getting overridden -->
						<h1>Example Right Column Header</h1>
						<p>Example Promo Text</p>

<div class="button-list">


								
								
									
								
								<a href="#" class="button button-secondary button-secondary--teal    "  role="button" >
											<span class="button__icon">
													<i class="fas fa-arrow-circle-right" title="Example Promo" aria-hidden></i>
												</span>
									<span class="button__label"> Example Promo </span>
								
								</a>
								
								
									
								
								<a href="#" class="button button-secondary button-secondary--orange    "  role="button" >
											<span class="button__icon">
													<i class="fas fa-arrow-circle-right" title="Example Promo" aria-hidden></i>
												</span>
									<span class="button__label"> Example Promo </span>
								
								</a>


</div>
						<div class="aem-parsys-example">
						    <strong>Promo Content Parsys Example</strong>
						</div>

				</div>

			</div>
		</div>
	</div>
</div>
