




<div class="rail  container-outer container-outer--rail">
	<div class="container">
		<div class="row rail__row">

			<div class="col-lg-4 rail__side-col rail__side-col--right">
				<div class="rail__side-content">
						<!-- content getting overridden -->
						<div class="aem-parsys-example">
						    <strong>Rail Content Parsys Example</strong>
						</div>
				</div>
			</div>

			<div class="col-lg-8 rail__main-col">
				<div class="rail__main-content">
						<!-- content getting overridden -->
						<div class="aem-parsys-example">
						    <strong>Main Content Parsys Example</strong>
						</div>
				</div>
			</div>

		</div>
	</div>
</div>
