.alt-footer-links {
	color: $white;
	padding: $spacing--base $spacing--lg;

	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	&--container {
		background-color: #333; // TODO Var
	}

	@include media-breakpoint-up(md) {
		flex-direction: row;
	}


	a, i {
		color: $white;
	}
	a {
		&:hover {
			color: #E7EDF0;
			cursor: pointer;
		}
	}
	&__link {
		margin-right: $spacing--base;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__list {
		margin-bottom: $spacing--base;
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}

		&__separator {
			font-size: 0.5rem;
			margin-right: $spacing--base;
		}
	}
}


.alt-footer {
	padding: $spacing--md $spacing--lg;
	color: $white;

	&--container {
		background-color: $black;
	}

	&__social {
		@include media-breakpoint-up(md) {
			margin-left: auto;
		}

		&__link {
			margin-right: $spacing--lg;

			&:last-of-type {
				margin-right: 0;
			}
		}

		&__icon{
			font-size: 1.4rem;
			margin-right: 0;

			&:hover {
				color: #E7EDF0;
				cursor: pointer;
			}
		}
	}

	&__logo {
		display: inline-block;
		margin-bottom: $spacing--sm;
		svg {
			height: 30px;
			width: 166px;
			display: block;
		}
	}

	&__legal-text {
		font-size: 0.85rem;
		margin: 0;

		a {
			color: $white;
		}
	}
}
