
.rail {

	@include breakAt(desktop){
		&--bg-color-left {
			@include color-gradient-vertical-half($gray, $white);
		}
		&--bg-color-right {
			@include color-gradient-vertical-half($white, $gray);
		}
	}

	&__main-col {
		background-color: $white;
		padding-top: $spacing--lg;
		padding-bottom: $spacing--lg;
	}

	&__side-col {
		padding-top: $spacing--lg;
		padding-bottom: $spacing--lg;

		&--right {
			order: 2;
		}

		&--bg-color {
			background-color: $gray;
		}

		@include upTo(desktop){
			display: none;
		}
	}

	&__side-content {
		&--sticky {
			position: sticky;
			top: $spacing--base;
		}
	}
}